<a href="https://colab.research.google.com/github/Hp9897/Datascience-HamoyeAI/blob/main/ML_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas import DataFrame

df= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
df.head(10)
df= pd.DataFrame(df)
print(df)
df.head(10)
df.drop(columns= ['date'])

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

       Appliances  lights         T1  ...  Tdewpoint        rv1        rv2
0              60      30  19.890000  ...   5.300000  13.275433  13.275433
1              60      30  19.890000  ...   5.200000  18.606195  18.606195
2              50      30  19.890000  ...   5.100000  28.642668  28.642668
3              50      40  19.890000  ...   5.000000  45.410389  45.410389
4              60      40  19.890000  ...   4.900000  10.084097  10.084097
...           ...     ...        ...  ...        ...        ...        ...
19730         100       0  25.566667  ...  13.333333  43.096812  43.096812
19731          90       0  25.500000  ...  13.300000  49.282940  49.282940
19732         270      10  25.500000  ...  13.266667  29.199117  29.199117
19733         420      10  25.500000  ...  13.233333   6.322784   6.322784
19734         430      10  25.500000  ...  13.200000  34.118851  34.118851

[19735 rows x 28 columns]

In [166]:


from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()


df= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
normalised_df= df.drop(columns= ["date","lights"])
target_variable= normalised_df["Appliances"]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(normalised_df, target_variable, test_size= 0.3, random_state=42)
print(x_train, x_test, y_train)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

linear_model.fit(x_train,y_train)
predicted_values= linear_model.predict(x_test)

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
9129           50  21.500000  35.626667  ...  -2.350000  36.226675  36.226675
2453           30  19.500000  44.560000  ...   0.966667  43.199767  43.199767
9152           40  20.790000  35.400000  ...  -3.100000  24.976055  24.976055
12694         120  22.100000  43.260000  ...   5.733333  16.161125  16.161125
16952          50  24.700000  42.360000  ...  10.800000  17.055346  17.055346
...           ...        ...        ...  ...        ...        ...        ...
11284          60  21.760000  40.900000  ...   5.833333  45.513197  45.513197
11964         120  22.390000  43.700000  ...  10.900000  34.934752  34.934752
5390           30  20.290000  35.700000  ...  -2.933333  19.071358  19.071358
860            80  21.790000  35.560000  ...  -4.066667   1.050592   1.050592
15795         130  21.323333  37.730000  ...   4.350000  17.456040  17.456040

[13814 rows x 27 columns]        Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
8980           40  20.890000  35.400000  ...   0.000000  25.622221  25.622221
2754           90  21.890000  53.100000  ...   1.200000  23.474485  23.474485
9132           50  21.390000  35.500000  ...  -2.400000   0.143368   0.143368
14359          50  21.390000  41.033333  ...   3.716667  10.293451  10.293451
8875           70  19.963333  35.126667  ...  -1.450000  10.754162  10.754162
...           ...        ...        ...  ...        ...        ...        ...
831           250  22.100000  37.933333  ...  -1.050000  45.503046  45.503046
10993          60  21.700000  38.290000  ...   4.150000  48.773300  48.773300
11761          50  20.926667  39.400000  ...   4.783333  39.633513  39.633513
12364         110  22.000000  41.230000  ...   4.900000  30.415321  30.415321
11863          50  20.890000  42.290000  ...   9.766667   9.949139   9.949139

[5921 rows x 27 columns] 9129      50
2453      30
9152      40
12694    120
16952     50
        ...
11284     60
11964    120
5390      30
860       80
15795    130
Name: Appliances, Length: 13814, dtype: int64

In [167]:
from sklearn.metrics import mean_absolute_error
mae= mean_absolute_error(y_test, predicted_values)
print(mae)
round(mae, 2)

1.4383090226348717e-13

0.0

In [168]:
import numpy as np
rss= np.sum(np.square(y_test, predicted_values))
round(rss, 2)

117425400.0

In [133]:
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse, 3)

60919.499

In [170]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

-360216.57

In [147]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)