<a href="https://colab.research.google.com/github/Hp9897/Datascience-HamoyeAI/blob/main/pandas_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
names = pd.Series(["Suriya","Darshan","Goldenbalance"])
print(names)
#numpy series
import numpy as np
names_c= np.array(["Suriya","Darshan","Goldenbalance"])
names_cr=pd.Series(names_c)
print(names_cr)
#strings as index
names_1 = pd.Series(["Suriya","Darshan","Goldenbalance"], index= [1,2,3])
print(names_1)
#pd series in dict
names_2 = pd.Series({'a':"Suriya",'b':"Darshan",'c':"Goldenbalance"})
print(names_2)
print(pd.DataFrame())
#access
names_c[1]
names_2['c']
#df dict
df_dict1= {'names':["Suriya","Darshan","Goldenbalance"],
          'Age': [30,32,25],
          'fan following': ['1M', '2M','1.2M'],
          'prize':["1st","2nd","3rd"]
}

df= pd.DataFrame(df_dict1, index = [3,1,2])
print(df)
df.describe()
df.mean()
df.std()
df.loc[2]
df.iloc[1]
df["prize"]
df.at[2,"Age"]
df.iat[2,2]
df["fan following"].sum()
df.isnull()
df.dropna()
df.notnull()

0           Suriya
1          Darshan
2    Goldenbalance
dtype: object
0           Suriya
1          Darshan
2    Goldenbalance
dtype: object
1           Suriya
2          Darshan
3    Goldenbalance
dtype: object
a           Suriya
b          Darshan
c    Goldenbalance
dtype: object
Empty DataFrame
Columns: []
Index: []
           names  Age fan following prize
3         Suriya   30            1M   1st
1        Darshan   32            2M   2nd
2  Goldenbalance   25          1.2M   3rd

   names   Age  fan following  prize
3   True  True           True   True
1   True  True           True   True
2   True  True           True   True